*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 #root{
  height: 100vh;

 }
.layout{
  display: grid;
  grid-template-areas: "header"
   "main"
    "footer";
    grid-template-rows: 8vh 80vh 12vh;

}



main{
  grid-area: main;

}
.wrapper{
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.wrapper .productsEl{
  width: 68%;
}
.wrapper .filterEl{
  width:30% ;
}